@import url("https//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    text-align: center;
    
    background-image: url(../../../img/chat-lobby-background.jpg);
    display: inline-block;
    justify-content:end;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.logo-container {
    display: flex;
    /* background-color: yellow; */
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
#chat-box p {
    color: #f5f5f5; /* Blue text */
    font-size: 16px;
    font-weight: normal;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px 0;
}
.site-name {
    font-family: "Poppins", serif;
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 2px 2px #2e2929;
    font-style: normal;
    font-size: 28px;
    color: #fff;
}
/* .nameInput{

   
} */
.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;

}
#chat-box {
    width: 90%;
    max-width: 550px;
    height: 300px;
    overflow-y: auto;
    background: none;
    backdrop-filter: 55px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray
}

input {
    width: 300px;
    padding: 8px;
}

button {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
.introduction{
    margin-top:100px ;
    font-size: 30px;
    color: white;
    text-align: center;
    

}
.chatboxdiv h2{
    color: white;
}
.fullChatbox{
    display: flex;
    /* background-color: pink; */
    backdrop-filter: blur(6px);
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
   
    padding-left: 50px;
    padding-right: 50px;
    height: 750px;
    width: 400px;
    
    margin-top: 50px;
}
#messageInput{
    border-radius: 10px;

}
.nameInput h3{
    color: white;
}
.nameInput{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    height: 150px;
    /* background-color: red; */
    /* position: fixed; */
    border-radius: 15px;
  

}
.nameholder{
    background: none;
    border-radius: 7px;
    width: 240px;
    height: 28px;
    font-size: 20px;
    color: white;
    
    border-width: 2px;
    border-color: rgb(167, 167, 167);
    backdrop-filter: blur(5px);
    margin: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
    
}
.messageholder{
    background: none;
    backdrop-filter: blur(50px);
    height: 50px;
    width: 300px;
    color: white;
    font-size: 18px;
}
.chatboxdiv{
    display: flex;
    /* background-color: aqua; */
    backdrop-filter: blur(45px);
    /* position: fixed; */
    right: 0;
    margin-top: 55px;
   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    border-radius: 12px;
}

@media (max-width:600px){
    
}